### Python ###
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

### Environment ###
.env
.venv/
env/

### Jupyter ###
.ipynb_checkpoints/
*.ipynb

### Data & outputs ###
results/*
data/*
models/*

# Keep placeholder files
!data/README.md
!models/README.md

### OS ###
.DS_Store
Thumbs.db

### HuggingFace cache (if local) ###
.cache/

### Misc ###
inlp/